<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.gearss.persistence.ReplyDAO">
	<insert id="insert" parameterType="ReplyVO">
		insert into tbl_reply(ino, writer, content) values (#{ino}, #{writer},#{content})
	</insert>

	<select id="read" parameterType="ReplyVO" resultType="ReplyVO">
	select * from tbl_reply where rno = #{rno}
	</select>
	
	<delete id="delete" parameterType="ReplyVO">
	
	delete from tbl_reply where rno =#{rno}
	</delete>
	
	<select id="getList" resultType="ReplyVO">
	
	select * from tbl_reply where rno >0 order by rno desc;
	
	</select>
	
</mapper>